In [ ]:
                                                  ASSIGNMENT NO. :-2

In [ ]:
1. WRITE A PROGRAM TO ACCEPT PERCENTAGE FROM THE USER AND DISPLAY THE GRADE ACCORDING TO THE FOLLWING CRITERIA ? 

          MARKS                     GRADE
        ______________________________________
        >90                         A
        >80 AND <= 90               B
        >= 60 AND <= 80             C
        BELOW 60                    D

In [22]:
marks = int(input("enter your marks "))
if marks > 90 and marks <=100 :
    print("A")
elif marks >80 and marks <=90:
    print("B")
elif marks >=60 and marks <=80:
    print("C")
elif marks <60:
    print("D")
else :
    print("INVALID INPUT")

enter your marks  49

D

In [ ]:
2. WRITE A PROGRAM TO ACCEPT THE COST PRICE OF A BIKE AND DISPLAY THE ROAD TAX TO BE PAID ACCORDING TO THE FOLLOWING CRITERIA:
    
                   TAX                            COST PRICE(in RS)
        _______________________________________________________________________
                  15%                             >100000
                  10%                             >50000 AND <= 100000
                  05%                             <=50000

In [27]:
cost = int(input("ENTER THE PRICE OF BIKE"))
if cost >100000:
    print("YOU HAVE TO PAY THE TAX OF 15%")
    print("YOUR TAX IN RUPEES " ,cost*.15)
elif cost >50000 and cost <=100000:
    print("YOU HAVE TO PAY THE TAX OF 10%")
    print("YOUR TAX IN RUPEES ", cost*.10)
else :
    print("YOU HAVE TO PAY THE TAX OF 5%")
    print("YOUR TAX IN RUPEES ", cost*.05)

ENTER THE PRICE OF BIKE 400000

YOU HAVE TO PAY THE TAX OF 15%
YOUR TAX IN RUPEES  60000.0

In [23]:
3. ACCEPT ANY CITY FROM THE USER AND DISPLAY THE MONUMENT OF THE CITY :
     
              CITY                      MONUMENT 
            _________________________________________
            DELHI                       RED FORT 
            AGRA                        TAJ MAHAL
            JAIPUR                      JAL MAHAL

15000.0

In [1]:
name = input("ENTER THE NAME OF THE CITY").capitalize()
city1 = "Delhi"
city2 = "Agra"
city3 = "Jaipur"
if city1 == name:
    print("THE MONUMENT OF THE CITY IS RED FORT")
elif city2 == name:
    print("THE MONUMENT OF THE CITY IS TAJ MAHAL")
elif city3 == name:
    print("THE MONUMENT OF THE CITY IS JAL MAHAL")
else :
    print("INVALID INPUT")

ENTER THE NAME OF THE CITY jaipur

THE MONUMENT OF THE CITY IS JAL MAHAL

In [ ]:
4. CHECK HOW MANY TIMES A GIVEN NUMBER CAN BE DIVIDED BY 3 BEFORE IT IS LESS THEN OR EQUAL TO 10.

In [ ]:
num = int(input("ENTER THE NUMBER"))
if num%3 == 0 :
    print(num , "IS DIVISIBLE BY 3")
else :
    print(num , "IS NOT DIVISIBLE BY 3")

In [ ]:
5. WHY AND WHEN TO USE WHILE LOOP IN PYTHON GIVE A DETAILED DESCRIPTION WITH EXAMPLE :
    
ANS:
    IN PYTHON, A WHILE LOOP IS USED TO EXECUTE A BLOCK OF STATEMENTS REPEATEDLY UNTIL A GIVEN CONDITION IS SATISFIED.
    AND WHEN THE CONDITION BECOMES FALSE, THE LINE IMMEDIATELY AFTER THE LOOP IN THE PROGRAM IS EXECUTED.
    
    STATEMENTS REPRESENT ALL THE STATEMENTS INDENTED BY THE SAME NUMBER OF CHARACTER SPACES AFTER A PROGRAMMING CONSTRUCT
    ARE CONSIDERED TO BE PART OF A SINGLE BLOCK OF CODE. PYTHON USES INDENTATION AS ITS METHOD OF GROUPING STATEMENTS. 
    WHEN A WHILE LOOP IS EXECUTED, EXPR IS FIRST EVALUATED IN A BOOLEAN CONTEXT AND IF IT IS TRUE, THE LOOP BODY IS EXECUTED. 
    THEN THE EXPR IS CHECKED AGAIN, IF IT IS STILL TRUE THEN THE BODY IS EXECUTED AGAIN AND THIS CONTINUES UNTIL THE EXPRESSION BECOMES FALSE.
    
    # Python program to illustrate
# while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello Coders")

In [ ]:
6. USE NESTED WHILE LOOP TO PRINT 3 DIFFERENT PATTERN.:

In [21]:
i = 1 
while i<=3 :
    j = 1 
    while j <= i :
        print(j , end = " ")
        j = j + 1 
    print(" ")
    i = i + 1

1
1 2
1 2 3

In [ ]:
7. REVERSE A WHILE LOOP TO DISPLAY NUMBER FROM 10 TO 1 :

In [ ]:
i = 10
while i <= 1:
    print(i)
    i = i - 1

In [ ]:
8. WRITE A WHILE LOOP TO DISPLAY NUMBER FROM 1 TO 10

In [ ]:
i = 1 
while i <= 10 :
    print(i)
    i = i + 1